.left-panel-header {
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 821px) {
    .left-panel-header {
        padding: 5%;
    }
}

@media only screen and (max-width: 540px) {
    .left-panel-header {
        padding: 3.5%;
    }
}
