.highlights-cards-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

@media only screen and (max-width: 540px) {
    .highlights-cards-list-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}
