.future-weather-card-list {
    margin: 8% 0;
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 540px) {
    .future-weather-card-list {
        margin: 8% 8% 30%;
        row-gap: 5%;
        column-gap: 8%;
        grid-template-columns: repeat(2, 1fr);
    }
}
