.weather-condition-wrapper {
    // overflow: hidden;
    position: relative;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .cloud-background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        filter: opacity(15%);
        z-index: 0;
    }

    .weather-condition-img {
        width: 30%;
    }
}

@media only screen and (max-width: 821px) {
    .weather-condition-wrapper {
        .cloud-background {
            display: none;
        }

        .weather-condition-img {
            width: 35%;
            margin-top: 5%;
        }
    }
}

@media only screen and (max-width: 540px) {
    .weather-condition-wrapper {
        .cloud-background {
            display: block;
        }

        .weather-condition-img {
            width: 40%;
            margin-top: 20%;
        }
    }
}
