.weather-condition-wrapper {
    height: 280px;
    overflow: hidden;
    position: relative;

    .cloud-background {
        position: absolute;
        left: -60px;
        width: 130%;
        filter: opacity(15%);
    }

    .weather-condition-img {
        width: 40%;
        margin-top: 60px;
    }
}
