.right-panel {
    height: 100%;
    padding: 40px 120px 150px 120px;

    .highlight-heading {
        font-size: 24px;
        font-weight: 700;
        color: #e7e7eb;
        margin-bottom: 32px;
    }
}
